PARTUUID=${PARTUUID_UEFI} /boot vfat noatime 0 0
PARTUUID=${PARTUUID_SWAP} none swap sw 0 0
/dev/mapper/root / btrfs ${ROOT_MOUNT_FLAGS} 0 1
/dev/mapper/root /rootvolume btrfs noatime,subvol=/ 0 1
tmpfs /tmp tmpfs rw,nosuid,noatime,nodev,mode=1777 0 0
tmpfs /var/tmp/portage tmpfs uid=portage,gid=portage,mode=775,nosuid,noatime,nodev 0 0
